body {
    background: #f5f6fa;
}

.card {
    border: none;
    border-radius: 18px;
}

table {
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

h2 {
    font-weight: bold;
}

.stat-card {
    border-radius: 18px;
    transition: .25s;
    overflow: hidden;
}

    .stat-card:hover {
        transform: translateY(-6px);
        box-shadow: 0 18px 40px rgba(0,0,0,.15);
    }

.stat-icon {
    width: 56px;
    height: 56px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    margin-bottom: 15px;
}

.stat-card h2 {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.stat-card h6 {
    font-weight: 600;
}

.reclamo-card {
    border: none;
    border-radius: 18px;
    transition: .25s;
}

    .reclamo-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 18px 40px rgba(0,0,0,.12);
    }

    .reclamo-card h5 {
        font-weight: 700;
    }

.reclamo-info {
    color: #666;
    margin-bottom: 6px;
}

.estado-badge {
    font-size: .9rem;
}

.apoyos {
    font-size: 1rem;
    font-weight: 600;
    color: #d63384;
}