.offcanvas {
    width: 470px !important;
    border: none;
}

.offcanvas-header {
    background: white;
}

.offcanvas-body {
    background: #F8FAFC;
}

#detalleImagen {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.timeline-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #CBD5E1;
    margin-right: 18px;
}

    .timeline-dot.active {
        background: #22C55E;
    }


    /************************* Responsive ***********************/

@media (max-width: 576px) {

    .offcanvas {
        width: 100% !important;
    }
}