.offcanvas {
    width: 470px !important;
    border: none;
}

.offcanvas-header {
    background: white;
}

.offcanvas-body {
    background: #F8FAFC;
}

#detalleImagen {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.timeline-dot {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #CBD5E1;
    margin-right: 18px;
}

    .timeline-dot.active {
        background: #22C55E;
    }

.priority-high {
    background: #dc3545;
    color: white;
}

.priority-medium {
    background: #ffc107;
    color: #222;
}

.priority-low {
    background: #198754;
    color: white;
}