html,
body {
    min-height: 100%;
    margin: 0;
}

#map {
    height: 72vh;
    min-height: 580px;
    max-height: 760px;
    width: 100%;
    position: relative;
}

@media (max-width: 768px) {

    #map {
        height: 65vh;
        min-height: 500px;
    }
}